@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");

html, body {
    height: 100%;
    margin:0px;
    font-family: "Pretendard Variable", Pretendard, sans-serif !important;
}
button {
    font-family: "Pretendard Variable", Pretendard, sans-serif !important;
}
:root {
    --main-body-height: calc(100vh - 6rem);
    --main-body-width: calc(100vw - 16rem);
}
.main-body {
    display: grid;
    grid-template-rows: 6rem var(--main-body-height);
    grid-template-columns: 16rem var(--main-body-width);
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}
.service-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #bfbfbf;
    font-size: 1.5rem;
    font-weight: bold;
}
.top-controllers {
    background-color: #dfdfdf;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 2rem;
    box-sizing: border-box;
}
.apptitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
}
.account-controllers {
    display: flex;
    flex-direction: row;
}
.left-controllers{
    background-color: #bfbfbf;
}

/* 버튼 */
.base-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; font-weight: bold; text-decoration: none;
    width: 15rem; height: 3rem;
    background-color: grey;
    font-size: 1.5rem;
    font-weight: bold;
    border: 1px solid white;
}

/* 기타 장식 태그 */
.disabled {
    color: #999999;
}

/* 본문 */
.account-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; font-weight: bold; text-decoration: none;
    width: 10rem; 
    height: 2rem;
    background-color: grey;
    font-size: 1rem;
    font-weight: bold;
    border: 1px solid white;
    border-radius: .7rem;
    margin: 0rem .2rem;
}
.account-name {
    background-color: #00007f;
}
.account-login {
    background-color: #0000cf;
}