{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>기본 템플릿 v0.0.1</title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="{% static 'css/account.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    </head>
    <body>
        {% csrf_token %}
        <div class="main-body">
            <div class="service-logo">
                <a href="{% url 'main' %}">
                    서비스 로고
                </a>
            </div>
            <div class="top-controllers">
                <div class="apptitle">
                    {% if pagetitle is None %}
                    기능 이름
                    {% else %}
                    {{ pagetitle }}
                    {% endif %}
                </div>
                <div class="account-controllers">
                    {% if user.is_authenticated %}
                    <button class="base-button account-button account-name">{{ user.username }}</button>
                    <button class="base-button account-button" url="{% url 'account:logout' %}" method="post">로그아웃</button>
                    </form>
                    {% else %}
                    <button class="base-button account-button account-login" url="{% url 'account:login' %}" method="get">로그인</button>
                    <button class="base-button account-button" url="{% url 'account:signup' %}" method="get">회원가입</button>
                    {% endif %}
                </div>
            </div>
            <div class="left-controllers">
                <a class="left-appbutton" href="">
                    <span class="material-symbols-outlined">
                        chat
                    </span>메뉴 자리</a>
            </div>
            <div class="incontents">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/marked.min.js' %}"></script>
    </body>
</html>
